$primary-background-color: #f1efd8; // slightly darker: #f0efd1
$primary-text-color: #1b1b1b;
$secondary-color: #b93c2f;
$visited-color: #6f11cc;
$strong-text-color: darken($primary-text-color, 5%);
$weak-text-color: lighten($primary-text-color, 15%);
$highlight-color: lighten($secondary-color, 8%);
$primary-inverse-text-color: white;
$debugging-color: red;
