@charset "utf-8";

@import "mixins";
@import "colors";
@import "typography";

.debugging {
  border: 1px solid $debugging-color;
}

html {
  font-size: $base-font-size;
}

body {
  margin: 0 auto;
  max-width: 50rem;
  font-family: $font-stack;
  line-height: 1.5rem;
  word-spacing: 0.06em;
  padding: 4rem 1rem;
  background-color: $primary-background-color;
  color: $primary-text-color;
  text-rendering: optimizeLegibility;
  @include font-smoothing();
}

h1 {
  margin-top: 1rem;
  padding-top: 1rem;
}

h1,
h2,
strong {
  color: $strong-text-color;
}

a {
  color: $secondary-color;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid $secondary-color;
  }

  &:visited {
    color: $visited-color;
  }
}

header {
  h1 {
    font-size: 2.5rem;
    font-weight: 300;
  }

  a.title {
    color: $primary-text-color;
    letter-spacing: 0.02rem;
    padding: 0.2em 0.4em;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;

    &:hover {
      background: $highlight-color;
      border-bottom: none;
      color: $primary-inverse-text-color;
    }

    &:visited {
      color: $primary-text-color;
    }
  }
}

main {
  padding: 2rem 1rem;
}

ul.posts {
  list-style-type: none;

  li {
    line-height: 1.75rem;
    margin-bottom: 1rem;
  }

  .date {
    display: block;
    font-size: 0.9rem;
    color: $weak-text-color;
  }
}

footer {
  @include clearfix;

  .card {
    max-width: 50%;
    float: left;
    margin-right: 3rem;
  }
}
