@charset 'utf-8';

@import 'mixins';
@import 'colors';
@import 'typography';

.debugging {
  border: 1px solid $debugging-color;
}

html {
  font-size: $base-font-size;
}

body {
  @include typeset;
  background-color: $primary-background-color;
  color: $primary-text-color;
  margin: 0 auto;
  max-width: 50rem;
  padding: 4rem 1rem;
}

h1 {
  margin-top: 1rem;
  padding-top: 1rem;
}

h1,
h2,
strong {
  color: $strong-text-color;
}

a {
  color: $secondary-color;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid $secondary-color;
  }

  &:visited {
    color: $visited-color;
  }
}

header {
  h1 {
    font-size: 2.5rem;
    font-weight: 300;
  }

  .title {
    color: $primary-text-color;
    letter-spacing: .02rem;
    padding: .2em .4em;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;

    &:hover {
      background: $highlight-color;
      border-bottom: 0;
      color: $primary-inverse-text-color;
    }

    &:visited {
      color: $primary-text-color;
    }
  }
}

main {
  padding: 2rem 1rem;
}

.posts {
  list-style-type: none;

  li {
    line-height: 1.75rem;
    margin-bottom: 1rem;
  }

  .date {
    color: $weak-text-color;
    display: block;
    font-size: .9rem;
  }
}

footer {
  @include clearfix;

  .card {
    float: left;
    margin-right: 3rem;
    max-width: 50%;
  }
}
